.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px;
  background-color: #00242F;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--font-avenir), monospace;
}

.logo img {
  max-height: 100px;
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #F6FCFF;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.3s ease;
}



.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a {
  color: #F6FCFF;
  transition: color 0.3s ease;
}

